<!DOCTYPE html>
<html lang='en'>
<head>
	<meta http-equiv='Content-type' content= 'text/html; charset=utf-8'>
	<title>Gallery</title>
	<style type='text/css' media='screen'>
	.wrap{
		margin: 0 3%;
	}
	article{
		width: 220px;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #f3f3f3;
	}
	footer{
		clear:both;
	}
	</style>
</head>
<body>
	<div class='wrap'>
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<article>
				<h2>Title</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur est libero, quis iaculis dui cursus ac. In facilisis turpis libero, in rhoncus felis malesuada in. Cras nec tempor nunc. Morbi aliquam interdum leo vitae ultricies. Sed ac massa molestie, molestie diam at, gravida diam. Quisque sit amet iaculis erat. Curabitur sollicitudin ipsum molestie tortor porttitor, vehicula ornare urna suscipit. Donec ullamcorper, leo non vestibulum vehicula, tortor ligula pretium tortor, at commodo urna diam eu mi.
			</p>
			</article>

			<article>
				<h2>Title</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur est libero, quis iaculis dui cursus ac. In facilisis turpis libero, in rhoncus felis malesuada in. Cras nec tempor nunc. Morbi aliquam interdum leo vitae ultricies. Sed ac massa molestie, molestie diam at, gravida diam. Quisque sit amet iaculis erat. Curabitur sollicitudin ipsum molestie tortor porttitor, vehicula ornare urna suscipit. Donec ullamcorper, leo non vestibulum vehicula, tortor ligula pretium tortor, at commodo urna diam eu mi.
			</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur est libero, quis iaculis dui cursus ac. In facilisis turpis libero, in rhoncus felis malesuada in. Cras nec tempor nunc. Morbi aliquam interdum leo vitae ultricies. Sed ac massa molestie, molestie diam at, gravida diam. Quisque sit amet iaculis erat. Curabitur sollicitudin ipsum molestie tortor porttitor, vehicula ornare urna suscipit. Donec ullamcorper, leo non vestibulum vehicula, tortor ligula pretium tortor, at commodo urna diam eu mi.
			</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur est libero, quis iaculis dui cursus ac. In facilisis turpis libero, in rhoncus felis malesuada in. Cras nec tempor nunc. Morbi aliquam interdum leo vitae ultricies. Sed ac massa molestie, molestie diam at, gravida diam. Quisque sit amet iaculis erat. Curabitur sollicitudin ipsum molestie tortor porttitor, vehicula ornare urna suscipit. Donec ullamcorper, leo non vestibulum vehicula, tortor ligula pretium tortor, at commodo urna diam eu mi.
			</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur est libero, quis iaculis dui cursus ac. In facilisis turpis libero, in rhoncus felis malesuada in. Cras nec tempor nunc. Morbi aliquam interdum leo vitae ultricies. Sed ac massa molestie, molestie diam at, gravida diam. Quisque sit amet iaculis erat. Curabitur sollicitudin ipsum molestie tortor porttitor, vehicula ornare urna suscipit. Donec ullamcorper, leo non vestibulum vehicula, tortor ligula pretium tortor, at commodo urna diam eu mi.
			</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur est libero, quis iaculis dui cursus ac. In facilisis turpis libero, in rhoncus felis malesuada in. Cras nec tempor nunc. Morbi aliquam interdum leo vitae ultricies. Sed ac massa molestie, molestie diam at, gravida diam. Quisque sit amet iaculis erat. Curabitur sollicitudin ipsum molestie tortor porttitor, vehicula ornare urna suscipit. Donec ullamcorper, leo non vestibulum vehicula, tortor ligula pretium tortor, at commodo urna diam eu mi.
			</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur est libero, quis iaculis dui cursus ac. In facilisis turpis libero, in rhoncus felis malesuada in. Cras nec tempor nunc. Morbi aliquam interdum leo vitae ultricies. Sed ac massa molestie, molestie diam at, gravida diam. Quisque sit amet iaculis erat. Curabitur sollicitudin ipsum molestie tortor porttitor, vehicula ornare urna suscipit. Donec ullamcorper, leo non vestibulum vehicula, tortor ligula pretium tortor, at commodo urna diam eu mi.
			</p>
			</article>
			<article>
				<h2>Title</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur est libero, quis iaculis dui cursus ac. In facilisis turpis libero, in rhoncus felis malesuada in. Cras nec tempor nunc. Morbi aliquam interdum leo vitae ultricies. Sed ac massa molestie, molestie diam at, gravida diam. Quisque sit amet iaculis erat. Curabitur sollicitudin ipsum molestie tortor porttitor, vehicula ornare urna suscipit. Donec ullamcorper, leo non vestibulum vehicula, tortor ligula pretium tortor, at commodo urna diam eu mi.
			</p>
			</article>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
<html>
